[submodule "csc415-assignment2-bufferandstruct-Miguel-Antonio-Logarta"]
	path = csc415-assignment2-bufferandstruct-Miguel-Antonio-Logarta
	url = https://github.com/CSC415-2023-Fall/csc415-assignment2-bufferandstruct-Miguel-Antonio-Logarta
[submodule "csc415-assignment-1-Miguel-Antonio-Logarta"]
	path = csc415-assignment-1-Miguel-Antonio-Logarta
	url = https://github.com/CSC415-2023-Fall/csc415-assignment-1-Miguel-Antonio-Logarta
